body{
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpf7shpvpXbW8Tq6iLwazrYUI7NpNyCtIh6w&usqp=CAU');
  background-repeat: no-repeat;
  position: fixed;
  min-width: 100%;
  min-height:100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

