body{
  background-image:url('https://thumbs.dreamstime.com/b/highway-to-city-moon-full-33491241.jpg');
  background-repeat: no-repeat;
  position: fixed;
  min-width: 100%;
  min-height:100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

